[build]
  publish = "public"
  command = "hugo --gc --minify"
  functions = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-blob"

[build.environment]
  HUGO_VERSION = "0.156.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
